html, body {
    overflow-x: hidden;
}
*{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 300%;
    text-align: center;
    background-color: #96C8A2;
}
h3{
    text-transform: capitalize;
}
body{
    background-color: #e0f2f1
}