*{
    font-family: 'Roboto', sans-serif;
}

h2{
    width: 1000px
    font-size: 300%;
    text-align: center;
    background-color: #96C8A2;
}
body{
    width: 960px;
    font-family: 'Roboto', sans-serif;
    background-color: #e0f2f1
}
.data_group h3{
    text-transform: capitalize;
}

.entry_two{
    position: relative;
    left: 600px;
    top: -75px;
}
.data_group2 h3{
    text-transform: capitalize;
}
.data_group2{
    width: 1000px
    position: relative;
    left: 600px;
    top: -300px;
}