html, body {
    /*max-width: 100%;*/
    overflow-x: hidden;
}

*{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 300%;
    text-align: center;
    background-color: #96C8A2;
}
h3{
    text-transform: capitalize;
}
body{
    background-color: #e0f2f1
}
.entry_two{
    width: 360px;
    position: relative;
    left: 600px;
    top: -75px;
}
.data_group{
    width: 380px;
    position: relative;
    top: -50px;

}
.data_group2{
    width: 380px;
    position: relative;
    top: -405px;
    left: 600px;
}
.display_1{
    width: 380px;
    position: static;
}
.display_2{
    width: 380px;
    position: relative;
    left: 600px;
    top: -320px;
}
.link{
    position: relative;
    top: -500px;
}