{% extends 'layout.html' %}
{% block body %}
    {% if entered == False %}
        <p>Search player database and get stats</p>
        <form action="{{ url_for('stats') }}" method="POST">
            <input type="text" name="player_name" placeholder="Player Name">
            <br>
        </form>
    {% else %}
        <div class = "data_group">
            <h3 id="top">
                {{ template[5] }}
            </h3>
            <p>
                Mean score =  {{ template[0] }}
                <br>
                Median score = {{ template[1] }}
                <br>
                Highest score =  {{ template[2] }}
                <br>
                Lowest score =  {{ template[3] }}
                <br>
                Standard deviation of score =  {{ template[4] }}
                <br>
            </p>
        </div>
        <div class  = 'search_group'>
            <p>Search for player stats comparing:</p>
            <form action="{{ url_for('stats') }}" method="POST">
                <select name="options" title ='search_query_type'>
                    <option value="pony">Pony</option>
                    <option value="venue">Venue</option>
                    <option value="conditions">Conditions</option>
                </select>
                <br>
                <br>
                <input type="text" name="search_query" placeholder="Search">
                <br>
                <input type="submit" value="Search">
            </form>
        </div>
    {% endif %}
{% endblock %}