<!-- matchid.chukka_num.venue.season_state.conditions.chukka_max.pony.player.result -->
{% extends "layout.html" %}
{% block body %}
<body>
<p>Enter name of pony</p>
{% if error == True %}
<p>
    Error
</p>
{%endif%}
<form action ="{{url_for('hello')}}" method="POST" >
    <div class = "form_group">
        Venue:<br>
        <input type="text" name="venue" placeholder="Venue">
        <br>
        Pony:<br>
        <input type="text" name="pony" placeholder="Pony name">
        <br>
        Player:<br>
        <input type="text" name="player" placeholder="Player Name">
        <br>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
{% endblock %}