<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/css/base.css">
    <meta charset="UTF-8">
    <title>PoloDB</title>
</head>
<title>PoloDB</title>
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
<div class=enjoy-css>
  <h1>PoloDB</h1>
  {% block body %}{% endblock %}
</div>